### Exploratory Data Analysis: Ask A Manager Salary 2019 Dataset

##### Load Libraries & Data

In [11]:
import matplotlib.pyplot as plt
import numpy as np 
import pandas as pd
import re

In [12]:
# data loaded from intermediate folder. Raw data has been pre-processed
aam_salary_int = pd.read_csv('../data/02_intermediate/aam_sal_inter.csv')

##### Explore the shape of the dataset

In [13]:
aam_salary_int.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30995 entries, 0 to 30994
Data columns (total 10 columns):
timestamp         30995 non-null object
age               30995 non-null object
industry          30171 non-null object
job_title         30993 non-null object
annual_salary     30977 non-null float64
currency          30995 non-null object
location          29500 non-null object
work_years        30995 non-null object
notes             7004 non-null object
other_currency    236 non-null object
dtypes: float64(1), object(9)
memory usage: 2.4+ MB

In [14]:
# "other_currency" column mostly null values. Drop column. 
aam_salary_int.drop(columns=['other_currency'], inplace=True)

In [15]:
# ~ 27K entries in USD. Let's look at only the USD dataset
aam_salary_int.currency.value_counts()

USD        27326
CAD         1474
GBP          887
AUD/NZD      617
EUR          429
Other        148
JPY           33
CHF           32
SEK           25
HKD           12
ZAR           12
Name: currency, dtype: int64

In [16]:
aam_salary_usd = aam_salary_int.loc[aam_salary_int['currency'] == 'USD']

In [17]:
# a number of 0 and high values have been discovered
aam_salary_usd.sort_values(by=['annual_salary'])

,timestamp,age,industry,job_title,annual_salary,currency,location,work_years,notes
16447,2019-04-26 19:01:54,25-34,Industrial,Owner,0.0,USD,Youngstown/OHIO/USA,8 - 10 years,Sales
24316,2019-04-30 11:28:25,under 18,stay at home industry,full time daughter,0.0,USD,NaN,1 year or less,NaN
24727,2019-04-30 15:33:53,55-64,None,Unemployed,0.0,USD,"Brunswick, GA, USA",21 - 30 years,NaN
25546,2019-05-01 07:59:55,55-64,NaN,Retired,0.0,USD,"St. Louiz, MO",31 - 40 years,NaN
15287,2019-04-26 16:17:19,35-44,Homeschool mom,Owner,0.0,USD,NaN,8 - 10 years,NaN
20782,2019-04-29 01:30:38,35-44,Parenting,Mom,0.0,USD,Sequim Washington United States,1 year or less,NaN
20725,2019-04-28 23:31:52,25-34,Care giver,Mom,0.0,USD,"Denver, colorado",2 - 4 years,NaN
27209,2019-05-10 13:08:08,45-54,IT Hardware Sales,Sales Represntative,0.0,USD,Charlotte NC,21 - 30 years,NaN
27529,2019-05-10 13:54:20,35-44,NaN,Stay at home mom,0.0,USD,NJ,8 - 10 years,NaN
27534,2019-05-10 13:54:55,35-44,NaN,Stay at home mom,0.0,USD,NJ,8 - 10 years,NaN
15674,2019-04-26 17:10:34,35-44,Unemployed,Stay at home parent,0.0,USD,"San Rafael, CA",11 - 20 years,NaN
28434,2019-05-10 18:40:49,55-64,Unemployed,Manager,0.0,USD,"Plano, Tx, USA",11 - 20 years,NaN
18757,2019-04-27 07:51:22,25-34,Legal,Intern,0.0,USD,NaN,2 - 4 years,NaN
12313,2019-04-25 14:13:54,45-54,IT,Program Manager,0.0,USD,NaN,31 - 40 years,NaN
28757,2019-05-11 06:30:45,35-44,Child care,Stay at home Dad,0.0,USD,Grand Rapids/MI/USA,8 - 10 years,NaN
18463,2019-04-27 02:48:56,35-44,Healthcare,RN,0.0,USD,Iowa,2 - 4 years,NaN
12146,2019-04-25 12:47:10,25-34,Unemployed,Unemployed,0.0,USD,USA,5-7 years,NaN
17423,2019-04-26 22:03:19,45-54,Unemployed,Unemployed,0.0,USD,NaN,11 - 20 years,NaN
16456,2019-04-26 19:02:58,25-34,Construction,Sales,0.0,USD,NaN,8 - 10 years,Owner
16464,2019-04-26 19:04:00,25-34,Industrial,Owner,0.0,USD,NaN,8 - 10 years,Sales
16869,2019-04-26 20:06:46,45-54,NaN,Test,0.0,USD,NaN,11 - 20 years,NaN
17412,2019-04-26 22:00:32,45-54,Unemployed,Unemployed,0.0,USD,NaN,11 - 20 years,NaN
18235,2019-04-27 01:25:34,65 or over,Retired,Retired,0.0,USD,"Gardnerville, NV",31 - 40 years,NaN
1357,2019-04-24 12:11:42,35-44,none,none,0.0,USD,NaN,1 year or less,NaN
23173,2019-04-29 18:12:27,45-54,None,none,0.0,USD,Miami FL USA,21 - 30 years,NaN
17777,2019-04-26 23:27:31,18-24,Student,Student,0.0,USD,Waco,1 year or less,Don’t make none
16135,2019-04-26 18:11:53,45-54,NaN,none,0.0,USD,NaN,21 - 30 years,NaN
1739,2019-04-24 12:20:43,25-34,Student,Student,0.0,USD,Pasadena California,2 - 4 years,NaN
16970,2019-04-26 20:29:02,25-34,NaN,A,1.0,USD,NaN,1 year or less,NaN
18490,2019-04-27 03:07:03,35-44,NaN,Nn,1.0,USD,NaN,5-7 years,NaN
...,...,...,...,...,...,...,...,...,...
17589,2019-04-26 22:41:14,under 18,Garbage collection,Garbage collector,2000007.0,USD,Boston ma,2 - 4 years,NaN
15792,2019-04-26 17:26:21,45-54,Financial Services,Partner,2120000.0,USD,"San Jose, CA, USA",21 - 30 years,NaN
28186,2019-05-10 16:47:51,25-34,Software,Partner,2500000.0,USD,Los Angeles,11 - 20 years,NaN
28775,2019-05-11 07:27:39,55-64,Healthcare,CEO,2645000.0,USD,New York,21 - 30 years,Business Founder
17833,2019-04-26 23:42:15,45-54,Self employed,Founder,3334000.0,USD,Seattle,1 year or less,NaN
6484,2019-04-25 00:39:56,35-44,Administrative,Office Manager,3500032.0,USD,"Sacramento, CA United States",11 - 20 years,Bookkeeping
28465,2019-05-10 19:02:03,45-54,Law,Partner,3750000.0,USD,"New York, NY",21 - 30 years,NaN
7725,2019-04-24 15:07:09,25-34,Nonprofit,Communications Coordinator,4774050.0,USD,NaN,5-7 years,NaN
28490,2019-05-10 19:22:53,45-54,Law,Partner,5800000.0,USD,New York City,21 - 30 years,NaN
3818,2019-04-24 13:35:24,45-54,Healthcare,RN,8000036.0,USD,Philadelphia,21 - 30 years,Home care RN or visiting RN
24832,2019-04-30 16:51:09,55-64,porn,chief jizzer,10000000.0,USD,your face,1 year or less,NaN
23777,2019-04-30 05:56:00,65 or over,Consumer Software & Hardware,CEO,15682219.0,USD,"Cupertino, California, USA",41 years or more,Chief Executive Officer at Apple
9136,2019-04-24 17:35:55,25-34,TEFL,Native Speaking English Teacher,27600000.0,USD,"Seoul, South Korea",2 - 4 years,NaN
13559,2019-04-26 12:55:21,45-54,Medical Device Manufacturing,End User Computing Administrator,82000000.0,USD,Chicago/IL/USA,11 - 20 years,NaN
2070,2019-04-24 12:28:59,25-34,TV production,Production Assistant,NaN,USD,NYC/NY/USA,2 - 4 years,A freelance/by-project basis. On set; narrativ...
3543,2019-04-24 13:23:30,45-54,Retail,Retail Associate,NaN,USD,USA,11 - 20 years,NaN
6031,2019-04-25 00:32:13,55-64,Property management,Resident manager,NaN,USD,"San Francisco, CA",31 - 40 years,NaN
8139,2019-04-24 15:42:45,35-44,Law,Attorney,NaN,USD,"San Francisco Bay Area, CA",11 - 20 years,I am a contract attorney who does e-discovery ...
10742,2019-04-24 23:21:16,25-34,Art/entertainment,Face/body painter,NaN,USD,"Chapel hill, nc, usa",5-7 years,NaN
16171,2019-04-26 18:17:13,65 or over,unemployed,anticipator,NaN,USD,Chicagoland,31 - 40 years,looking for work
17054,2019-04-26 20:47:51,35-44,NaN,"Food and beverage manager, retired",NaN,USD,"Portland, OR, USA",5-7 years,NaN
17918,2019-04-27 00:06:40,18-24,NaN,B,NaN,USD,NaN,11 - 20 years,NaN
19645,2019-04-27 18:14:03,under 18,NaN,G,NaN,USD,NaN,1 year or less,NaN
23014,2019-04-29 17:33:40,under 18,NaN,Golf Mower,NaN,USD,NaN,1 year or less,NaN
25548,2019-05-01 08:01:37,25-34,AVIATION,TEST,NaN,USD,TEST,5-7 years,TEST
27076,2019-05-10 12:38:38,18-24,Holy,Jizz's God,NaN,USD,NaN,1 year or less,Corporate energy efficiency engineer: look aft...
28471,2019-05-10 19:07:33,45-54,NaN,Director,NaN,USD,"Bay Area, CA",11 - 20 years,NaN
30207,2019-05-27 08:52:36,35-44,Disabled,Welder,NaN,USD,Louisville ky USA,1 year or less,NaN
30388,2019-05-28 17:45:17,25-34,Nonprofit,Development Coordinator,NaN,USD,"Missoula, MT, USA",2 - 4 years,NaN
30816,2019-06-21 11:38:51,35-44,Air and space law,JD student,NaN,USD,Senatobia/MS/USA,1 year or less,I am currently in law school

In [18]:
# number of nan values in annual_salary column
aam_salary_usd.annual_salary.isnull().sum()

16

In [19]:
# number and print out of salary less than or equal to 1 in the annual_salary column
print(len(aam_salary_usd.loc[aam_salary_int['annual_salary']<=1]))
aam_salary_usd.loc[aam_salary_int['annual_salary']<=1]

38

,timestamp,age,industry,job_title,annual_salary,currency,location,work_years,notes
1357,2019-04-24 12:11:42,35-44,none,none,0.0,USD,NaN,1 year or less,NaN
1739,2019-04-24 12:20:43,25-34,Student,Student,0.0,USD,Pasadena California,2 - 4 years,NaN
12146,2019-04-25 12:47:10,25-34,Unemployed,Unemployed,0.0,USD,USA,5-7 years,NaN
12313,2019-04-25 14:13:54,45-54,IT,Program Manager,0.0,USD,NaN,31 - 40 years,NaN
14216,2019-04-26 13:55:30,45-54,Work,Pleeb,1.0,USD,NaN,1 year or less,NaN
15287,2019-04-26 16:17:19,35-44,Homeschool mom,Owner,0.0,USD,NaN,8 - 10 years,NaN
15669,2019-04-26 17:10:08,35-44,Professional gangsta,Pimp,1.0,USD,USA,11 - 20 years,Swagger
15674,2019-04-26 17:10:34,35-44,Unemployed,Stay at home parent,0.0,USD,"San Rafael, CA",11 - 20 years,NaN
16135,2019-04-26 18:11:53,45-54,NaN,none,0.0,USD,NaN,21 - 30 years,NaN
16447,2019-04-26 19:01:54,25-34,Industrial,Owner,0.0,USD,Youngstown/OHIO/USA,8 - 10 years,Sales
16456,2019-04-26 19:02:58,25-34,Construction,Sales,0.0,USD,NaN,8 - 10 years,Owner
16464,2019-04-26 19:04:00,25-34,Industrial,Owner,0.0,USD,NaN,8 - 10 years,Sales
16612,2019-04-26 19:27:23,25-34,NaN,Consultant,1.0,USD,NaN,11 - 20 years,NaN
16621,2019-04-26 19:28:29,25-34,NaN,Consultant,1.0,USD,NaN,11 - 20 years,NaN
16869,2019-04-26 20:06:46,45-54,NaN,Test,0.0,USD,NaN,11 - 20 years,NaN
16970,2019-04-26 20:29:02,25-34,NaN,A,1.0,USD,NaN,1 year or less,NaN
17412,2019-04-26 22:00:32,45-54,Unemployed,Unemployed,0.0,USD,NaN,11 - 20 years,NaN
17423,2019-04-26 22:03:19,45-54,Unemployed,Unemployed,0.0,USD,NaN,11 - 20 years,NaN
17777,2019-04-26 23:27:31,18-24,Student,Student,0.0,USD,Waco,1 year or less,Don’t make none
18235,2019-04-27 01:25:34,65 or over,Retired,Retired,0.0,USD,"Gardnerville, NV",31 - 40 years,NaN
18463,2019-04-27 02:48:56,35-44,Healthcare,RN,0.0,USD,Iowa,2 - 4 years,NaN
18490,2019-04-27 03:07:03,35-44,NaN,Nn,1.0,USD,NaN,5-7 years,NaN
18757,2019-04-27 07:51:22,25-34,Legal,Intern,0.0,USD,NaN,2 - 4 years,NaN
19315,2019-04-27 12:47:29,35-44,Logistics,President,1.0,USD,NaN,11 - 20 years,NaN
20725,2019-04-28 23:31:52,25-34,Care giver,Mom,0.0,USD,"Denver, colorado",2 - 4 years,NaN
20776,2019-04-29 01:10:58,under 18,How is this different from glassdoor?,Meh,1.0,USD,Mars,41 years or more,NaN
20782,2019-04-29 01:30:38,35-44,Parenting,Mom,0.0,USD,Sequim Washington United States,1 year or less,NaN
22903,2019-04-29 17:13:01,35-44,NaN,aaaaaaaa,1.0,USD,NaN,8 - 10 years,NaN
23173,2019-04-29 18:12:27,45-54,None,none,0.0,USD,Miami FL USA,21 - 30 years,NaN
24316,2019-04-30 11:28:25,under 18,stay at home industry,full time daughter,0.0,USD,NaN,1 year or less,NaN
24626,2019-04-30 14:42:06,45-54,Software,Vice President,1.0,USD,"Seattle, WA",21 - 30 years,NaN
24727,2019-04-30 15:33:53,55-64,None,Unemployed,0.0,USD,"Brunswick, GA, USA",21 - 30 years,NaN
25546,2019-05-01 07:59:55,55-64,NaN,Retired,0.0,USD,"St. Louiz, MO",31 - 40 years,NaN
27209,2019-05-10 13:08:08,45-54,IT Hardware Sales,Sales Represntative,0.0,USD,Charlotte NC,21 - 30 years,NaN
27529,2019-05-10 13:54:20,35-44,NaN,Stay at home mom,0.0,USD,NJ,8 - 10 years,NaN
27534,2019-05-10 13:54:55,35-44,NaN,Stay at home mom,0.0,USD,NJ,8 - 10 years,NaN
28434,2019-05-10 18:40:49,55-64,Unemployed,Manager,0.0,USD,"Plano, Tx, USA",11 - 20 years,NaN
28757,2019-05-11 06:30:45,35-44,Child care,Stay at home Dad,0.0,USD,Grand Rapids/MI/USA,8 - 10 years,NaN

In [28]:
# drop rows where annual_salary <= 1
aam_salary_usd = aam_salary_usd.drop(aam_salary_usd[aam_salary_usd.annual_salary <= 1].index)

In [23]:
# number of salaries greather than or equal to 1 Million 
# print(len(aam_salary_usd.loc[aam_salary_int['annual_salary']>=1000000]))
# aam_salary_usd.loc[aam_salary_int['annual_salary']>=1000000]